<div class="border-left ms-2 ps-2">
    <div class="">
        <h6 class="job-title">{{jobDetails.jobTitle}}</h6>
        <p  class="badge bg-white work-badge"><i class="bi bi-calendar-date fs-6 pr-2"></i><small class="text-muted">{{jobDetails.startDate}} - {{jobDetails.endDate}}</small></p>
    </div>
    <p class=" mb-1"><small class="text-muted">{{jobDetails.companyName}}</small></p>
    <p *ngIf="jobDetails.location" class="card-text mb-1"><i class="bi bi-geo-alt fs-6 pr-2"></i><small class="text-muted ">{{jobDetails.location}}</small></p>
    <p><small class="text-muted">{{jobDetails.jobDescription}}</small></p>
</div>