.profile-container {
    height: 100vh;
    margin: auto;
    width: 72%;
    padding-bottom: 20px;
}
.sub-container {
    display: grid;
    place-items: center;
}
.profile-sub-container {
    padding-top: 50px;
}
