<div class="profile-container ">
  <!-- nav bar -->
  <app-profile-nav-bar></app-profile-nav-bar>   

    <!-- profile -->
    <div id="profile" class="profile-sub-container">
      <app-profile-container class="sub-container"></app-profile-container>
    </div>

    <!-- Experience -->
    <div id="experience"  class="profile-sub-container" >
      <app-experience-container class="sub-container"></app-experience-container>
    </div>

    <!-- Education -->
    <div id="education"  class="profile-sub-container" >
      <app-education-container class="sub-container"></app-education-container>
    </div>

    <!-- Skills -->
    <div id="skills"  class="profile-sub-container" >
      <app-professional-skills-container class="sub-container"></app-professional-skills-container>
    </div>

    <!-- Languages -->
    <div id="languages"  class="profile-sub-container pb-5" >
      <app-languages-container class="sub-container"></app-languages-container>
    </div>
</div>

