.work-badge {
    border: 1px solid lightgray;
    color: inherit;
    font-weight: normal;
}
.available-status {
    color: green;
    padding-right: 3px;
}
.profile-buttons {
    justify-content: space-between;
    margin: 0 31.5px;
    width: 10rem;
}
.main-profile-image {
    height: 100%;
    width: 100%;
    border-radius: 0.375rem;
}
.image-card-body {
    padding: 0;
}
@media only screen and (max-width: 900px) { 
    .profile-img-mobile {
        padding-right: 0;
        padding-bottom: 25px;
    }
    .profile-details-mobile{
        padding-left: 0;
    }
    .email-mobile {
        margin-bottom: 25px;
    }
}

