<span class="badge bg-white work-badge"><span class="available-status">●</span>Available for work</span>
<h1 class="profile-name">Sunil Balija</h1>
<p class="profile-title">Senior Web Developer</p>
<!-- <p class="profile-location">Location: San Antonio, Texas, USA</p> -->
 <div>
    <button class="btn btn-dark profile-buttons" (click)="openEmailApp()"><i class="bi bi-envelope fs-6"></i>Send Email</button>
    <button class="btn btn-outline-secondary profile-buttons" (click)="downloadResume()"><i class="bi bi-download fs-6"></i>Download CV</button>
 </div>

<div class="row mt-5">
    <div class="col-sm-4 ps-0">
        <div class="card">
        <div class="image-card-body">
            <img src="assets/images/main-profile.JPG" class="main-profile-image" alt="profile image">
        </div>
        </div>
    </div>
    <div class="col-sm-8 height-100 pe-0">
        <div class="card">
            <div class="card-body">
                <img src="assets/images/icons8-profile.svg" class="pt-2" alt="profile image">
                <h5 class="card-title pt-5">Profectional Profile</h5>
                <p class="card-text "><small class="text-muted">{{profileDetails}}</small></p>
                <p class="card-text pb-2"><i class="bi bi-geo-alt fs-6 pr-2"></i><small class="text-muted ">{{profileLocation}}</small></p>
            </div>
        </div>
    </div>
    <div class="card mt-4 px-0">
        <div class="card-body border-bottom ">
            <h6 class="card-title text-center mb-0 text-muted">Worked With</h6>
        </div>
        <div class="card-body text-center">
            <img src="assets/images/icons8-angular.svg" class="px-4" alt="Angular Image">
            <img src="assets/images/icons8-typescript.svg" class="px-4" alt="Typescript Image">
            <img src="assets/images/icons8-bootstrap.svg" class="px-4" alt="Bootstrap Image">
            <img src="assets/images/icons8-css.svg" class="px-4" alt="CSS Image">
            <img src="assets/images/icons8-javascript.svg" class="px-4" alt="JavaScript Image">
            <img src="assets/images/icons8-java.svg" class="px-4" alt="Java Image">
            <img src="assets/images/icons8-oracle.svg" class="px-4" alt="Oracle Image">
        </div>
    </div>
</div>