<div class="bg-light d-flex justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-white profile-navbar">
        <a class="navbar-brand " href="#">
            <img src="./../../assets/images/profile.jpg" class="profile-image">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class=" nav-link" href="#profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#education">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#languages">Languages</a>
              </li>
              
            <li class="nav-item">
              <a class="nav-link disabled" href="#certificates" tabindex="-1" aria-disabled="true">Certificats</a>
            </li>
            <li class="nav-item contact-me">
                <button (click)="openModel()" class="btn btn-dark"><i class="bi bi-vector-pen fs-6" ></i>Contact Me</button>
              </li>
          </ul>
        </div>
      </nav>
</div>