<div class="row card px-0">
    <div class="card-body border-bottom">
        <img src="assets/images/icons8-languages.svg" class="pt-2" alt="Skills image">
        <h5 class="card-title pt-5">Languagaes</h5>
        <p class="card-text "><small class="text-muted">{{languageDetails}}</small></p>
    </div>
    <div class="card-body ">
        <p><small class="ms-2 ps-2 text-muted">English</small></p>
        <p><small class="ms-2 ps-2 text-muted">Hindi</small></p>
        <p><small class="ms-2 ps-2 text-muted">Telugu</small></p>
    </div>
</div>